body {
	margin: 0;
}
html {
	margin: 0;
}
.bigContainer {
	width: 100%;
	height: 605px;
	border: 1px solid #06863e;
	padding: 0;
	margin: 0;
	background-color: #58B947;
}
.contentContainer {
	width: 66%;
	display: inline-block;
}
.formContainer {
	width: 33.5%;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.formBox {
	border: 2px solid #556B2F;
	width: 280px;
	height: 300px;
	text-align: center;
	padding-top: 60px;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 8px;
}
.register {
	font-size: 25px;
	font-family: 'futura', sans-serif;
}
.textBox {
	font-family: 'futura', sans-serif;
	background: rgba(0, 0, 0, 0.2);
	margin: 5px;
    width: 180px;
    border: none;
    resize: none;
    border-radius: 8px;
    padding: 9px;
    box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.3);
}
input:focus {
	outline: none;
}
.text {
	font-size: 19px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-top: 5px;
}
#name::-webkit-input-placeholder {
	font-size: 15px;
}
#email::-webkit-input-placeholder {
	font-size: 15px;
}
.bottom-bar{
   width:100%;
   height:100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #06863e;
    border-bottom: 10px solid #06863e;
    border-right: 1px solid #06863e;
    background-color: #06863e;
}

li{
   display:inline-block;
   width:20%;
   color:white;
   font-size:110%;
}

.womens-init-logo{
   margin-left:5px;
   float:left;
   font-family:'futura', sans-serif;
   text-align: center;
}

.womens-init-text{
   margin-right:100px;
   float:right;
   font-family:'futura', sans-serif;
}
.invitation-text {
	width: 100%;
	height: 250px;
	position: relative;
}
.art-as-therapy {
	color: white;
	margin: 0;
  	text-align: center;
	font-size: 122px;
	transform: scale(1, 1);
	font-family: 'Lato', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.therapy-desc {
	display: inline-block;
	color: #E6F5E4;
	text-align: center;
	margin-top: 1%;
	font-size: 28px;
	font-family: 'futura', cursive;
}
.therapy-loc {
	color: #E6F5E4;
	margin: 0;
	text-align: center;
	font-size: 40px;
	font-family: "futura", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.invitation-desc {
	width: 100%;
	height: 125px;
	position: relative;
}
.invitation-loc {
	width: 100%;
	height: 125px;
	position: relative;
}
.logo {
	position: absolute;
	z-index: 3;
	width: 275px;
	top: 92.5%;
	left: 34%;
}
@media screen and (max-width: 1249px){
	.art-as-therapy {
		font-size: 100px;
	}
}

@media screen and (max-width: 1039px){
	.therapy-loc {
		font-size: 32px;
	}
}

@media screen and (max-width: 844px){
	.therapy-desc {
		font-size: 20px;
		margin-top: 1%;
	}
	.therapy-loc {
		font-size: 24px;
	}
}

@media screen and (max-width: 824px){
	.therapy-desc {
		display: block;
		font-size: 18px;
	}
}

@media screen and (max-width: 819px){
	.therapy-desc {
		margin-top: 1%;
	}
}